
$font_variable: 'Graphik LC TT', sans-serif;
$color_variable_gray: #555555;
$color_variable_green: #7AC751;
$color_variable_opacity: #C2C2C2;
$color_variable_blue: #00B7F1;
$font_variable1: 'Roboto', sans-serif;

