$Red: #F0145A;
$White: #FFFFFF;
$Blue: #24A3FF;
$font_Monsterat: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font_Monsterat ;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0px auto;
    padding: 0 0px;
}


.header_section {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding: 0px 60px 0px 60px;
    border-radius: 0px 0px 12px 12px;
    position: relative;

    .header {
        position: relative;

        &__main-logo {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: 100%;
            max-width: 720px;
            transform: translateX(-50%);

            img {
                z-index: 0;
                object-fit: cover;
                object-position: center;
            }

        }
    }

    .container {
        max-width: 1600px;
        position: relative;

        .header-inner {
            display: flex;
            justify-content: space-between;


            &__logo {
                padding-top: 50px;
                z-index: 23;
            }

            &__navadress {
                margin-top: 55px;
                z-index: 33;

                &__adress {

                    display: flex;
                    align-items: center;

                    gap: 6px;

                    &__languages {
                        display: flex;
                        align-items: center;
                        z-index: 23;
                        gap: 14px;


                        &__link {
                            z-index: 23;
                            font-family: $font_Monsterat;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 15px;
                            text-align: center;
                            letter-spacing: 1px;
                            color: $White;
                            margin-right: 0px;
                            padding: 4px 7px;
                            border-radius: 8px;
                            transition: 0.4s;

                        }

                        &__link:hover {
                            transform: scale(1.1);
                            background: $Red;
                        }
                    }

                    &__city,
                    &__number {
                        z-index: 23;
                        font-family: $White;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: right;
                        color: #FFFFFF;
                    }

                    &__city::before,
                    &__city::after {
                        content: '';
                        margin: 2px 4px 2px 4px;

                        display: inline-block;
                        border-radius: 100%;
                        width: 6px;
                        height: 6px;
                        background: #E6E6F0;
                    }

                    &__number::after {
                        content: '';
                        margin: 2px;
                        display: inline-block;
                        border-radius: 100%;
                        width: 6px;
                        height: 6px;
                        background: #E6E6F0;
                    }


                    &__facebook {

                        &:hover {
                            svg {
                                path {
                                    fill: $Red;
                                    transition: 0.4s;
                                }
                            }
                        }
                    }

                }



                &__nav {

                    display: flex;
                    justify-content: end;
                    margin-top: 21px;
                    z-index: 23;

                    &__link {
                        z-index: 23;
                        font-family: $font_Monsterat;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: $White;
                        margin-right: 15px;
                        transition: 0.4s;
                    }

                    &__link:hover {
                        color: $Red;

                    }
                }
            }
        }






        .main-logo__h {

            font-weight: 700;
            font-size: 32px;
            line-height: 46px;
            padding: 261px 0px 305px 0px;
            z-index: 1;
            position: relative;
            font-family: $font_Monsterat;

            text-align: center;
            color: $White;
        }



        .sub-header {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 200px;

            &__types {

                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
                border-right: 4px solid #B3B3BA;
                padding-right: 60px;
                padding-top: 20px;
                margin-right: 60px;


                &__name {

                    margin-bottom: 30px;
                    color: #B3B3BA;

                    display: flex;
                    justify-content: flex-end;
                    white-space: nowrap;
                    transition: 0.4s;
                    cursor: pointer;
                }

                &__name:first-child {
                    background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &__name:hover {

                    color: $Red;

                }


            }

            &__descr {
                h2 {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                    color: #FFFFFF;
                }

                p {

                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 30px;
                    max-width: 640px;
                    color: $White;
                }
            }
        }

        .main-logo__scroll {
            z-index: 1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

        }

        .main-logo__scroll:hover {
            svg {

                circle,
                path {
                    stroke: $Red;
                }
            }
        }



        .data-service {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            margin-bottom: 60px;

            a {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;



                color: $Blue;
            }

            p {
                margin-top: 10px;
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &__link {
                transition: 0.3s;
                max-width: 110px;
            }

            &__link:hover {
                transform: scale(1.1);
                color:$Red;
            }
            
        }

      

        .data-img {
            justify-content: space-between;
            display: flex;
            gap: 60px;
            padding-bottom: 60px;

            &__iconDESCR {
                margin-top: 60px;


                a {
                    display: block;
                    margin-top: 30px;
                    max-width: 370px;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;
                    color: $Blue;

                }

                p {
                    margin-top: 15px;
                    max-width: 350px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: $White;
                }
            }
        }
    }
}

.second_section {
    padding: 0px 60px 0px 60px;
    background: #FFFFFF;

    .container {
        max-width: 1600px;

        .under-line {


            &__first {
                width: 100%;
                height: 10px;


                background: #CACADB;
                border-radius: 0px 0px 12px 12px;
            }

            &__second {

                margin: 0 auto;
                background: #E7E7F2;
                border-radius: 0px 0px 12px 12px;
                width: 90%;
                height: 10px;
            }
        }

        .man-descr {

            margin-top: 80px;
            display: flex;
            align-items: center;
            background: #F5F5FA;
            border-radius: 12px;

            &__photo {
                margin-right: 30px;
            }

            &__descr {
                a {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $Blue;
                }

                p {
                    margin-top: 5px;
                    max-width: 800px;
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &__name {
                    margin-top: 30px;

                    &__main {
                        display: block;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #B3B3BA;
                    }

                    &__occupation {
                        margin-top: 5px;
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #B3B3BA;
                        opacity: 0.5;
                    }

                }
            }
        }

        .sub-rounds {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 60px;
            gap: 15px;

            &__round {
                background: #24A3FF;
                opacity: 0.2;
                width: 16px;
                height: 16px;
                border-radius: 100%;
            }

            &__round:hover {
                opacity: 1;
            }


        }

    }
}

.third_section {
    .container {
        max-width: 1600px;

        .sub-link {
            display: flex;
            justify-content: center;

            a {
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #323264;
            }
        }

        .collection-wrapper {
            padding-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

            &__item {
                img {
                    width: 100%;
                    height: 100%;
                    gap: 0px;
                }
            }
        }
    }
}

.above-footer {
    padding: 30px 60px 0px 60px;
    background: #F5F5FA;

    &__link {
        a {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $Blue;
        }
    }

    &__descr {
        margin-top: 10px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        grid-gap: 30px;

        &__card {
            margin-top: 30px;

            background: #FFFFFF;

            &__info {
                padding: 30px 30px 70px 30px;
            }

            &__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $Blue;
                max-width: 320px;


            }

            &__miniTEXT {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #B3B3BA;
                margin-top: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            &__text {
                margin-top: 15px;
                padding-top: 15px;
                border-top: 4px solid #B3B3BA;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: black;
                max-width: 360px;
            }
        }
    }
}

.footer-section {
    background: #F5F5FA;
    padding: 30px 60px;

    .container {
        display: flex;
        border-top: 2px solid #E6E6F0;
        padding-top: 30px;

        .footer-section__adress-logo {

            &__adress {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #323264;

                &__link {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $Blue;
                }

                &__link::before {
                    content: '';
                    margin: 2px 10px 2px 10px;

                    display: inline-block;
                    border-radius: 100%;
                    width: 6px;
                    height: 6px;
                    background: #E6E6F0;
                }
            }

            &__logo {
                display: flex;
                align-items: center;
                margin-top: 21px;

                &__number {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;

                    color: #46466E;
                }

                &__number::before,
                &__number::after {
                    content: '';
                    margin: 2px 10px 2px 10px;

                    display: inline-block;
                    border-radius: 100%;
                    width: 6px;
                    height: 6px;
                    background: #E6E6F0;
                }

                &__email {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: $Blue;
                }
            }
        }

        .footer-section__adress-logo__minitext {
            margin-left: auto;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #B3B3BA;
        }
    }
}
